.todo-nav {
   margin: auto;
}

.todo-form {
    width: 30%;
    margin: auto;
}

.todo-title {
    font-weight: bold;
    font-size: 8rem;
    color: rgb(228, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
}
